footer {
  padding: 1rem;
  background-color: #5c5c5c;
  text-align: center;
  border-top: 1px solid #ddd;
  color: var(--colourprimary);
}

footer p {
  font-size: medium;
}

.footer-nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 0.5rem;
}

.footer-nav a {
  text-decoration: none;
  color: var(--colourprimary);
  font-weight: 500;
}

.footer-nav a:hover {
  color: #0077cc;
}
