.meal-form {
  max-width: 600px;
  margin: auto;
}

.meal-form h2 {
    margin-bottom: 20px;
}

.meal-form .meal-type {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* space between label and select */
  margin-bottom: 1rem;
}

.meal-form label {
  white-space: nowrap;
  font-weight: bold;
}

.meal-form .ingredient-row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.meal-form .ingredient-row input {
  width: 100%;
}

.meal-form .remove-btn {
  background-color: red;
}

.meal-form .bottom-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto 20px auto;
}