.meal-filter {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 2rem;
}

.meal-filter button {
  padding: 0.6rem 1.2rem;
  border: none;
  background-color: #9e9e9e;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.meal-filter button.active {
  background-color: #3f8f43;
  color: white;
}

.filter-dropdown {
    display: none;
}

.filter-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

@media (max-width: 600px) {
    .filter-buttons {
        display: none;
    }

    .filter-dropdown {
        display: block;
        margin-top: 1rem;
    }

    .filter-dropdown select {
        width: 100%;
        padding: 0.5rem;
        font-size: 1rem;
    }
}