.planner h2 {
  margin-bottom: 1rem;
}

.planner-wrapper {
    overflow-x: auto;
    margin: 20px auto;
    max-width: 100%;
    width: 100%;
}

.planner-wrapper table {
  width: max-content; /* allows the table to grow horizontally */
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.planner th,
.planner td {
  border: 1px solid #ccc;
  padding: 30px 10px;
  text-align: center;
}

.header-cell {
  background-color: #f4f4f4;
  font-weight: 600;
  font-size: 16px;
  padding: 10px;
}

.corner-cell {
  background-color: #f0f0f0;
}

.meal-type {
  background-color: #f8f8f8;
  font-weight: bold;
  text-align: left;
  padding: 10px;
}

.meal-cell:hover {
  background-color: #fff5cc;
  cursor: pointer;
}

.selected-meals {
  margin-top: 6px;
  font-size: 13px;
  color: #333;
  line-height: 1.4;
}

select {
  width: 100%;
  padding: 6px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: white;
  margin-bottom: 4px;
}

.action-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 5px;
}